[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
peewee = "*"
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
flake8-bandit = "*"
install = "*"
ipdb = "*"
ipython = "*"

[pipenv]
allow_prereleases = true
