[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
psycopg2-binary = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
sqlmodel = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
install = "*"
ipdb = "*"
ipython = "*"
mccabe = "*"
mypy = "*"
pydocstyle = {extras = ["toml"], version = "*"}
pylint = "*"
tox = "*"